page-login {

}
.login{
    margin-top: 30%;
    overflow-y: hidden
}

img{
    border-radius: 0% !important;
}

.header-md::after {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    position: fixed !important;
}