page-modal-reservas-recurso {

}
hr{
    border-width: 1 !important;
}

ion-slides {
    height: auto;
}
.divLista{
    height: auto;
}
.divSlide{
    height: 300px;
}

.divSlide2{
    height: 200px;
}

.libre{
    color: rgb(60, 158, 36);
}
.item{
    padding-top: 1.5px;
}